.B2B-SaaS {
	background-color: rgba(5,253,193,.1);
}

.B2B-SaaS:hover {
	background-color: rgba(5,253,193,.5);
}

.PM {
	background-color: rgba(50,174,135,.1);
}

.PM:hover {
	background-color: rgba(50,174,135,.5);
}

.business {
	background-color: rgba(56,114,97,.1);
}

.business:hover {
	background-color: rgba(56,114,97,.5);
}

.cross-functional {
	background-color: rgba(0,0,0,.1);
}

.cross-functional:hover {
	background-color: rgba(0,0,0,.5);
}

.data-viz {
	background-color: rgba(28,52,43,.1);
}

.data-viz:hover {
	background-color: rgba(28,52,43,.5);
}

.design-system {
	background-color: rgba(43,82,26,.1);
}

.design-system:hover {
	background-color: rgba(43,82,26,.5);
}

.designery {
	background-color: rgba(45,132,48,.1);
}

.designery:hover {
	background-color: rgba(45,132,48,.5);
}

.full-stack {
	background-color: rgba(1,183,22,.1);
}

.full-stack:hover {
	background-color: rgba(1,183,22,.5);
}

.get-it-done {
	background-color: rgba(80,253,52,.1);
}

.get-it-done:hover {
	background-color: rgba(80,253,52,.5);
}

.initiative {
	background-color: rgba(162,209,142,.1);
}

.initiative:hover {
	background-color: rgba(162,209,142,.5);
}

.market-experience {
	background-color: rgba(132,146,108,.1);
}

.market-experience:hover {
	background-color: rgba(132,146,108,.5);
}

.process {
	background-color: rgba(170,186,179,.1);
}

.process:hover {
	background-color: rgba(170,186,179,.5);
}

.proto {
	background-color: rgba(205,255,240,.1);
}

.proto:hover {
	background-color: rgba(205,255,240,.5);
}

.research {
	background-color: rgba(5,220,221,.1);
}

.research:hover {
	background-color: rgba(5,220,221,.5);
}

.startupy {
	background-color: rgba(73,159,170,.1);
}

.startupy:hover {
	background-color: rgba(73,159,170,.5);
}

.systems-thinking {
	background-color: rgba(48,109,130,.1);
}

.systems-thinking:hover {
	background-color: rgba(48,109,130,.5);
}

.the-why {
	background-color: rgba(57,148,215,.1);
}

.the-why:hover {
	background-color: rgba(57,148,215,.5);
}

.writing {
	background-color: rgba(120,205,248,.1);
}

.writing:hover {
	background-color: rgba(120,205,248,.5);
}

