.ZaaZ {
	background-color: rgba(5,253,193,.1);
}

.ZaaZ:hover {
	background-color: rgba(5,253,193,.5);
}

.biz {
	background-color: rgba(50,174,135,.1);
}

.biz:hover {
	background-color: rgba(50,174,135,.5);
}

.hella-methods {
	background-color: rgba(56,114,97,.1);
}

.hella-methods:hover {
	background-color: rgba(56,114,97,.5);
}

.initiative {
	background-color: rgba(0,0,0,.1);
}

.initiative:hover {
	background-color: rgba(0,0,0,.5);
}

.preso {
	background-color: rgba(28,52,43,.1);
}

.preso:hover {
	background-color: rgba(28,52,43,.5);
}

.quant-stuff {
	background-color: rgba(43,82,26,.1);
}

.quant-stuff:hover {
	background-color: rgba(43,82,26,.5);
}

.system-time {
	background-color: rgba(45,132,48,.1);
}

.system-time:hover {
	background-color: rgba(45,132,48,.5);
}

.why-why {
	background-color: rgba(1,183,22,.1);
}

.why-why:hover {
	background-color: rgba(1,183,22,.5);
}

.x-functional {
	background-color: rgba(80,253,52,.1);
}

.x-functional:hover {
	background-color: rgba(80,253,52,.5);
}

