/*judgy css*/

body {
    font-family: 'Nunito', Helvetica;
    color: #444;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 0;
}

.top-row {
    margin-top: 3em;
}

#description {
    margin: 1em 0 3em 0;
    padding: 1em;
    outline: 1px solid rgba(0,0,0,.1);
    word-wrap: break-word;
    background-color: #fff;
    color: #222;
}

#doggy {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Comfortaa';
}

#dogpic {
    width:80%;
}

#spaniel_name{
    
}

.fixed-right{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

#bullet-legend {
    list-style-type: none;
    padding: 1em;
    background-color: #fff;
    color: #000;
}

#bullet-legend li {
    margin: 1em 0;
    padding: 0;
}



body.uxr {
    background-color: #444;
    color: #fff;
    transition: background-color .5s linear,
        color .5s linear;


}

body.uxd {

}